ion-menu{
    --background: #62E8E0!important;
    background: #62e8df3d!important;
  }
ion-content{
  --background: #62E8E0!important;
    background: #62e8df3d!important;
}
ion-app{
  --background: #62E8E0!important;
    background: #62e8df3d!important;
}

ion-split-pane{
  --background: #62E8E0!important;
    background: #62e8df3d!important;
}
ion-router-outlet{
  --background: #62E8E0!important;
  background: #62e8df3d!important;
}