ion-list{
    --background: #62E8E0!important;
    background: #62E8E0;
}
ion-menu-toggle{
    --background: #62E8E0!important;
    
}
ion-item{
    --background: #62E8E0!important;
    color: black
}
ion-list-header{
    --background: #62E8E0!important;
   
}
ion-icon{
    color: black;
}
ion-list-header{
    color: black;
}
ion-row{
    margin-top: 20px;
  }